@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Importation des polices Garet */
@font-face {
  font-family: 'Garet';
  src: url('/font/garet/Garet-Book.woff2') format('woff2'),
       url('/font/garet/Garet-Book.woff') format('woff'),
       url('/font/garet/Garet-Book.ttf') format('truetype'),
       url('/font/garet/Garet-Book.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Garet';
  src: url('/font/garet/Garet-Heavy.woff2') format('woff2'),
       url('/font/garet/Garet-Heavy.woff') format('woff'),
       url('/font/garet/Garet-Heavy.ttf') format('truetype'),
       url('/font/garet/Garet-Heavy.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

/* Appliquer la police Garet aux balises <p> */
body, p, h1, h2, h3, h4, h5, h6, span, a, li, div {
  font-family: 'Garet', sans-serif;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.hover-bg-blur {
  position: relative;
  transition: transform 0.5s ease;
}

.hover-bg-blur::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Couleur bleue avec transparence */
  filter: blur(50px); /* Effet de flou */
  opacity: 0;
  transition: opacity 1s ease; /* Transition en fondu */
  z-index: -1;
  border-radius: 20px;
}

.hover-bg-blur:hover::before {
  opacity: 1;
}

.hover-bg-blur:hover::before,
.hover-bg-blur.active::before {
  opacity: 1;
}

.hover-bg-blur:hover {
  transform: translate(10px);
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px); /* Déplacement initial vers la gauche */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* Position finale */
  }
}

.fade-in-left {
  animation: fadeInLeft 1s ease-in-out;
}

.bubble-rectangle {
  background-color: rgba(0, 0, 0, 0.8); /* Couleur de fond très sombre avec opacité */
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-item {
  opacity: 0.3; /* Opacité sombre par défaut */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Transition pour l'opacité et le déplacement */
}

.nav-item:hover {
  opacity: 1; /* Opacité pleine au survol */
}

.nav-item.active {
  opacity: 1; /* Opacité pleine lorsqu'actif */
  transform: translateX(10px); /* Déplacement vers la droite lorsqu'actif */
}
.section {
  padding: 20px;
  width: 60%;
  height: 500px;
  margin-bottom: 16px;
  border-radius: 20px;
}


@keyframes galaxyColor {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.text-galaxy {
  background: linear-gradient(270deg, #3d3dc7, #dccaec, #1266e4, #cacad4, #3d3dc7);
  background-size: 1000% 1000%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: galaxyColor 10s ease infinite;
}

.nav-item.active,
.nav-item:hover {
  transform: translateX(10px); /* Déplacement vers la droite lorsqu'actif ou au survol */
  color: transparent;
  background: linear-gradient(270deg, #3d3dc7, #dccaec, #1266e4, #cacad4, #3d3dc7);
  background-size: 1000% 1000%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: galaxyColor 15s ease infinite;
  
}


@keyframes pulse {
  0% {
    box-shadow: 0 0 5px #ff1493;
  }
  100% {
    box-shadow: 0 0 20px #ff69b4;
  }
}
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.section {
  padding: 20px;
  width: 60%;
  height: 500px;
  margin-bottom: 16px;
  border-radius: 20px;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0.2;
}

.section.active {
  opacity: 1;
  transform: scale(1.1);
}

.section.inactive {
  opacity: 0.2;
}

.section-home {

}

.section-about {

}

.section-services {

}

.section-veille {

}

.section-contacts {

}

@keyframes galaxyColor {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.text-galaxy {
  background: linear-gradient(270deg, #3d3dc7, #dccaec, #1266e4, #cacad4, #3d3dc7);
  background-size: 1000% 1000%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: galaxyColor 15s ease infinite;
}

.nav-item.active,
.nav-item:hover {
  transform: translateX(10px); /* Déplacement vers la droite lorsqu'actif ou au survol */
  color: transparent;
  background: linear-gradient(270deg, #3d3dc7, #dccaec, #1266e4, #cacad4, #3d3dc7);
  background-size: 1000% 1000%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: galaxyColor 15s ease infinite;
}

.pulse-bar {
  position: relative;
  display: inline-block;
  margin-top: 8px;
}

.pulse-bar::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px; /* Ajustez la position verticale de la barre */
  width: 100%;
  height: 1px; /* Ajustez la hauteur de la barre */
  background: #2c8cfa; /* Couleur de la barre */
  box-shadow: 0 0 10px #058af7, 0 0 20px #0059ff; /* Effet de lumière */
  animation: pulse-bar 1.5s infinite alternate ease-in-out;
}

@keyframes pulse-bar {
  0% {
    box-shadow: 5 0 5px #1b53bb, 0 0 10px #ff69b4;
  }
  100% {
    box-shadow: 10 0 30px #ff1493, 0 0 30px #ff69b4;
  }
}

/* Styles pour l'animation de transition */
.fixed-top-left {
  position: fixed;
  top: -300px;
  left: 110px;
  width: 50px;
  height: 50px;
  transition: all 1s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0.7;
  transform: scale(0.8);
  z-index: 1000; /* Assurez-vous que l'élément est au-dessus des autres */
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-up {
  animation: fadeUp 0.5s forwards;
}

@keyframes fadeUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
    
  }
}

.section-content {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.section-block {
  width: 48%; /* Ajustez la largeur des blocs pour qu'ils tiennent côte à côte */
  height: 200px; /* Ajustez la hauteur selon vos besoins */
  background-color: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.2rem;
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}



